*{
    margin:0;
    padding:0;
}
.container{
    background-image:url("../imagem/fundo-amarelo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.login{
    background-color:black;
    opacity:0.6;
    height:360px;
    width:280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:80px;
    color:white;
    border-radius:2px;

}

.login label, input{
    display:block;
    margin-bottom:1em;
    font-size:18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    
}

input[type="text"], [type="password"]{
    
    background-color:black;
    border:0;
    border-bottom:2px solid yellow;
    outline:0px;
    padding:10px;
    opacity:0.8;
    color:white;
    

    
    
}

input:hover{
    border-bottom:2px solid beige;
}

.send input{
    background-color:#EEEE00;
    width:230px;
    height:50px;
    border:0px outset whitesmoke;
    border-radius: 15px;
}

.send a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: bold;
}
/* Media do tamanho da tela*/
@media screen and (min-width:481px) and (max-width:1024px){
    .login{
        width:30%;
        height:50%;
        background-color:black;
    }

    input[type="text"], [type="password"]{
    
      height:5px;
      width:200px;   
    }

    .send input{
        background-color:#EEEE00;
        width:200px;
        height:30px;
        border:0px outset whitesmoke;
        border-radius: 15px;
    }
}